html, body{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4{
    font-weight: 700;
}

p{
    font-size: 16px;
    line-height: 30px;
}

ul {
    padding: 0 0 0 20px;
}

ul li::before {
    color: #007499;
}

a{
    color: #009DCF;
}

a:hover{
    color: #007499;
}

section{
    padding: 48px 0;
}

.btn.btn-outline-primary{
    color: #007499;
    border-color: #007499;
    font-size: 14px;
    outline: none;
    box-shadow: none;
}

.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:active,
.btn.btn-outline-primary:focus,
.btn.btn-outline-primary:target,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active{
    color: #fff;
    background-color: #007499;
    border-color: #007499;
    outline: none;
    box-shadow: none;
}

#YMapsID{
    width: 100%;
    height: 400px;
}

#chart_div{
    width: 100%;
    height: 500px;
}

/* Navbar */
.mainnav{
    background-color: #ffffff !important;
}

.floatingNav {
    border-bottom: 1px solid #eee;
  }

.navbar-brand img{
    height: 40px;
}

/* Footer */
.main-footer{
    background-color: #fff !important;
    border-top: 1px solid #eee;
    padding: 24px 0;
    width: 100%;
    font-size: 14;
}

.main-footer .footer-hr{
    width: 100%;
    height: 1;
    border-color: #ebebeb;
}

.main-footer .footer-social a{
    font-size: 14px;
}

.main-footer .footer-social i{
    font-size: 20px;
}

.main-footer .footer-links{
    font-size: 14px;
}

/* About section */
.about{
    background-color: #f8f9fa;
}

/* Chart section */
.chart{
    padding: 0;
}

.chart iframe{
    width: 100%;
    height: 800px;
}

@media only screen and (max-width: 600px) {
    .chart iframe{
        width: 100%;
        height: 320px;
    }
  }

.about img{
    width: 128px;
}

/* Support */
.support img{
    width: 96px;
}

/* Thanks section */
.thanks{
    background-color: #f8f9fa;
}

/* Modal */
.modal-body{
    height: 80vh !important;
}

/* Loading */
.loading{
    padding: 16px 0;
    background-color: #f8f9fa;
    transition: 0.35s;
}

.loading p{
    margin: 0;
}

.loader {
    border: 4px solid #eee;
    border-radius: 50%;
    border-top: 4px solid #007499;
    width: 24px;
    height: 24px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }